@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
.Copyright{
    height: 3rem;
    background-color: #efefef;
    color: black;
    position: relative;
    top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lato', sans-serif;
}
.Copyright img{
    margin: 0.5rem;
}